# Logs and temporary files
*.log
*.error.log
error.txt
err_stack.txt
*plan*
*task*
*walkthrough*
*debug*
result.txt

# Environment variables
.env
.env.development

# Credentials
*.json
!package.json
!package-lock.json
!tsconfig*.json

# Dependencies
node_modules/
